*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product h3 {
    font-size: 18px;
    margin-top: 15px;
  }
  
  .product p {
    font-size: 14px;
    color: #777;
  }
  
  .product button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
  }